venv/
*.pyc
experiments/sandbox
results/debug
.DS_Store
*.egg-info
*.egg

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# auto folder when using emacs and auctex
./auto/*
*.el

*.bbl
*.blg
_region_.tex
